# ========== UNITY ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity generated
*.csproj
*.sln
*.slnx
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Rider / VS / VSCode
.vs/
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Unity cache
*.cache